<ion-content>
  <div class="main-content" (swipe)="swipe($event)">
    <ion-card *ngIf="!myInterests">
      <ion-card-header class="my-interests-header">No Available Things</ion-card-header>
      <ion-card-content>
        <p>
          You are currently not having any things.
        </p>
        <p>
          First add a thing then you will be able to see available people to connect.
        </p>
        <button ion-button full round (click)="findInterest()">
            <ion-icon name="add-circle" padding></ion-icon> Add an Interest
          </button>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="myInterests" class="myInterests">
        <ion-list>
          <ion-list-header class="my-interests-header">My Things</ion-list-header>
          <button *ngFor="let item of myInterests" ion-item (click)="myInterestTapped($event, item)">
           <div class="row"> 
          <div class="col-50"> <ion-icon [name]="item.Icon" padding ></ion-icon> </div>
          <div class="col">
           <div>{{item.Name}}</div>
           <div class="smallFont">People: {{item.Total}}</div>
           <div class="smallFont">Currently available: {{item.CurrentlyOnline}} </div>
          </div>
          </div>
          </button>
        </ion-list>
        <ion-card-content>
          <button ion-button round icon-only (click)="findInterest()" style="float:right">
            <ion-icon name="paper-plane" padding class="findInterestIcon"></ion-icon>
          </button>
        </ion-card-content>
      </ion-card>
     
  </div>
</ion-content>