page-home {
  .scroll-content {
    background-color: white;
    background-image: linear-gradient(white, #c2d1f0);
    color: black;
  }
}
.my-interests-header{
  font-weight: bold;
  font-size: large;
}
