<ion-header>
  <ion-navbar>
    <ion-title>Available Interests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="main-content" (swipe)="swipe($event)">
    <ion-card *ngIf="!interests">
      <ion-card-header>No Available Interests</ion-card-header>
      <ion-card-content>
        <p>
          You are currently not having any interests.
        </p>
        <p>
          First add an interest then you will be able to see available people to connect.
        </p>
        <button ion-button full round (click)="findInterest()">
            <ion-icon name="add-circle" padding></ion-icon> Add an Interest
          </button>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="interests">
        <ion-list>
          <ion-list-header>My Interests</ion-list-header>
          <button ion-item *ngFor="let item of interests" (click)="interestTapped($event, item)">
            <ion-icon name="flash" padding></ion-icon>
            {{item.Name}}
          </button>
        </ion-list>
        <ion-card-content>
          <button ion-button full round (click)="findInterest()">
              <ion-icon name="add-circle" padding></ion-icon> Add an Interest
            </button>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>