<ion-header>
  <ion-navbar>
    <ion-title>Available Things</ion-title>
  </ion-navbar>
    </ion-header>
<ion-content padding>
        <ion-grid>
          <ion-row *ngFor="let row of grid">
              <ion-col width-50 *ngFor="let item of row">
                <button ion-item (click)="interestTapped($event, item)" *ngIf="item">
                  <ion-icon [name]="item?.Icon" padding></ion-icon>
                  {{item?.Name}}
                </button>
              </ion-col>
            </ion-row>
      </ion-grid> 
</ion-content>
